<nav id="in-org" class="top-bar in-org-nav" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 ><a href="#" class="org-name"><%= @org.name %></a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul id="in-org-right" class="right">
      <% @people.each do |person| %>
        <li class="handle"><%= person.handle %></li>
      <% end %>
    </ul>
  </section>
</nav>

<div class="row index-main">
  <div class="twelve columns text-center">
    <%= form_for @person do |f| %>

      <% if flash[:alert] %>
        <small class="error"><%= flash[:alert] %></small>
      <% end %>

      <%= f.hidden_field :organization_id, value: @org.id %>
      <%= f.text_field :handle, placeholder: "Github Username" %>
      <%= f.submit "add", class: "button" %>
    <% end %>
  </div>
</div>
